@import '../node_modules/antd/dist/antd.css';


.book {
    height: 753px;
    background: aliceblue no-repeat;
}

.containerB {
    margin-left: 280px;
    margin-top: 30px;
    /*width: 1200px;*/
    padding: 0;
}

/*img {*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    float: left;*/
/*    margin-top: 40px;*/
/*    margin-left: 30px;*/
/*}*/


.describe {
    margin-top: 25px;
    padding-left: 130px;
    padding-top: 45px;
    padding-right: 50px;
    width: 900px;
    height: 400px;
    border-radius: 5px;
    border: 2px solid gainsboro;
    display: flex;
    /*align-content: center;*/
    /*justify-content: center;*/
}


.describeRight {
    margin-left: 50px;
    width: 600px;
    height: 300px;
    /*float: right;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    /*justify-content: space-between;*/
}

.questionsList {
    width: 900px;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}

.questionButton{
    float: right;
}
