
html {
    background-color: aliceblue;
}

.home {
    height: 100%;
    background: aliceblue no-repeat;
}

.container {
    margin-left: 280px;
    margin-top: 30px;
    /*width: 1200px;*/
}

.nav{
    width: 970px;
    display: flex;
    justify-content: space-between;
}

#change1{
    /*display: none;*/
    float: right;
}

#change2{
    display: none;
    float: right;
}

.content {
    margin-top: 10px;
    padding-top: 0;
    display: flex;
}

.card {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 800px;
    width: 700px;
    border-radius: 5px;
    border: 2px solid gainsboro;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}


.flex-item {
    padding: 0;
    border-radius: 5px;
    border: 2px solid gainsboro;
    /*background-color: cornflowerblue;*/
    width: 200px;
    height: 280px;
    margin: 10px;
    text-align: center;
}

img {
    width: 197px;
    height: 250px;
}

.flex-item p {
    margin: 0;
}

.right {
    margin-left: 20px;
    /*margin-top: 20px;*/
    border-radius: 5px;
    border: 2px solid gainsboro;
    height: 320px;
    width: 250px;
    /*overflow: hidden;*/
}

/*.right p{*/
/*    text-align: left;*/
/*}*/

.gundong {
    height: 250px;
    width: 250px;
    /*overflow: hidden;*/
    overflow-y:scroll;
    padding: 5px 8px 5px 10px;
}

ul {
    list-style: none;
}
